{{#unless access}}
<section class="props">
  <header id="property_{{name}}">
    <code class="method-signature">{{#if static}}<span class="keyword">static</span> {{/if}}{{#if final}}<span class="keyword">readonly</span> {{/if}}{{#crossLink type}}{{/crossLink}} {{name}}</code>
  </header>
  <div class="content">
    <span class="description">{{{propertyDescription}}}</span>
    {{#if overwritten_from}}
      <footer>
        Overrides <code><a href="{{overwritten_from/class}}.html#method_{{overwritten_from/name}}">{{overwritten_from/class}}</a></code>
      </footer>
    {{else}}{{#if extended_from}}
      <footer>
        Defined in <code><a href="{{extended_from}}.html#method_{{name}}">{{extended_from}}</a></code>
      </footer>
    {{/if}}{{/if}}
  </div>

  {{#unless @last}}
  <div class="divider"></div>
  {{/unless}}
</section>
{{/unless}}

{{!-- <a name="props_{{name}}"></a>
<div class="props item">
    `{{name}}` &lt;<strong>{{#crossLink type}}{{/crossLink}}</strong>&gt;{{#if final}} <em>(final)</em>{{/if}}{{#if static}} <em>(static)</em>{{/if}}<br>
    <span class="foundat"><a href="../{{foundAt}}">`{{file}}:{{line}}`</a></span>
    {{{propertyDescription}}}
    {{#if example}}
        <h5>Example</h5>
        {{{example}}}
    {{/if}}
</div> --}}
