<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="{{projectColorPrimary}}">

  <title>{{htmlTitle}}</title>

  <link rel="stylesheet" href="{{projectAssets}}/vendor/prettify/prettify-min.css">

  <link rel="stylesheet" href="{{projectAssets}}/css/class.css">
  <link rel="stylesheet" href="{{projectAssets}}/css/events.css">
  <link rel="stylesheet" href="{{projectAssets}}/css/index.css">
  <link rel="stylesheet" href="{{projectAssets}}/css/main.css">
  <link rel="stylesheet" href="{{projectAssets}}/css/method.css">
  <link rel="stylesheet" href="{{projectAssets}}/css/prettyprint.css">
  <link rel="stylesheet" href="{{projectAssets}}/css/props.css">
  <link rel="stylesheet" href="{{projectAssets}}/css/sidebar.css">
  <style>
    @import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Roboto:400,700);

    body {
      display: flex;
      flex-direction: column;
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
      font-size: smaller;
      line-height: 3ex;
      margin: 0;
      height: 100vh;
    }

    .description code {
      border-radius: 4px;
      padding: 2px 4px;
      white-space: pre;
    }

    .since {
      font-family: 'Ubuntu Mono', monospace;
      font-size: 0.8rem;
      height: 25px;
      line-height: 25px;
      text-transform: uppercase;
      overflow: hidden;
    }

    .since {
      font-family: 'Ubuntu Mono', monospace;
      font-size: 0.8rem;
      line-height: 2ex;
      text-transform: uppercase;
    }

    h1, h2 {
      margin: 5px 0;
    }

    a, a:visited {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    pre,
    code,
    a.crosslink {
      font-family: 'Ubuntu Mono', monospace;
    }

    .prettyprint code {
      background-color: transparent;
      border-radius: 0;
      padding: 0;
    }

    div.content {
      max-width: 50em;
    }

    section.collapsible > header {
      padding: 1em 2em;
      cursor: pointer;
      -webkit-user-select: none;
      transition: padding .2s;
      position: relative;
    }

    section.collapsible > header h2 {
      font-size: 1.8em;
    }

    section.collapsible > div {
      overflow: hidden;
      transition: height .2s;
    }

    footer {
      padding: 15px;
      -webkit-margin-before: 20px;
    }

    footer.warn {
      border-color: crimson;
      color: crimson;
    }

    dl {
      margin-left: 2em;
      margin-right: 2em;
      padding: 1.5em 2em;
    }

    table, dl {
      border: 1px solid;
    }

    header {
      font-weight: 700;
    }

    p {
      margin-top: 2em;
      margin-bottom: 2em;
    }

    dd p {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  </style>

  <!-- COLORS!!! -->
  <style>
    .reverse h1 a, .reverse h1 a:visited {
      color: {{projectColorBackground}};
    }

    body {
      background-color: {{projectColorBackground}};
      color: {{projectColorForeground}};
    }
    .reverse {
      background-color: {{projectColorPrimary}};
      color: {{projectColorLightPrimary}};
    }

    table, dl {
      border-color: {{projectColorPrimary}};
    }

    a, a:visited,
    a.external, a.external:visited {
      color: {{projectColorAccent}};
    }
    .reverse a, .reverse a:visited,
    .reverse a.external, .reverse a.external:visited {
      color: {{projectColorLightPrimary}};
    }

    .since {
      color: {{projectColorDarkPrimary}};
    }
    .reverse .since {
      color: {{projectColorLightPrimary}};
    }

    header.main-header {
      -webkit-filter: drop-shadow(0px 2px 5px {{projectColorDarkPrimary}});
    }
    header.main-header.scroll-top {
      -webkit-filter: none;
    }

    li.sidebar-selected {
      border-right: 5px solid {{projectColorAccent}};
    }
    .reverse li.sidebar-selected a {
      color: {{projectColorBackground}};
    }

    section.collapsible > header {
      background-color: {{projectColorPrimary}};
      color: {{projectColorBackground}};
    }
    .reverse section.collapsible > header {
      background-color: {{projectColorPrimary}};
      color: {{projectColorBackground}};
    }
    .reverse section.collapsible.collapsed > header {
      color: {{projectColorLightPrimary}};
    }

    section.collapsible > header:hover h2 {
      -webkit-filter: drop-shadow(0px 0px 5px {{projectColorBackground}});
    }
    .reverse section.collapsible > header:hover h2 {
      -webkit-filter: drop-shadow(0px 0px 5px {{projectColorBackground}});
    }
    .reverse section.collapsible.collapsed > header:hover h2 {
      -webkit-filter: drop-shadow(0px 0px 5px {{projectColorLightPrimary}});
    }

    .description code {
      color: {{projectColorForeground}};
      background-color: {{projectColorLightPrimary}};
    }

    code .keyword {
      color: {{projectColorForeground}};
    }

    .description pre code {
      background-color: transparent;
    }

    pre.prettyprint {
      border-color: {{projectColorPrimary}};
    }

    header.tutorial {
      color: {{projectColorDarkPrimary}};
    }

    footer {
      border: 2px solid {{projectColorPrimary}};
    }

    .divider {
      border-color: {{projectColorBorder}};
    }

    .method tbody:nth-child(2n) {
      background-color: {{projectColorLightPrimary}};
    }

    .method tbody:nth-child(2n+1) {
      background-color: {{projectColorBackground}};
    }
  </style>
</head>
<body>
  <header class="main-header reverse scroll-top">
    <div class="main-menu-button">&#9776;</div>
    <div class="main-header-section">
      <h1><a href="{{projectRoot}}index.html">{{projectName}}</a></h1>
      <div class="since">v {{projectVersion}}</div>
    </div>
    <a href="{{projectUrl}}">GitHub</a>
  </header>
  <section class="main-content">
    <section class="main-sidebar reverse">{{> sidebar}}</section>
    <section class="main-main">{{> layout_content}}</section>
  </section>
</body>
  <script src="{{projectAssets}}/vendor/prettify/prettify-min.js"></script>
  <script>prettyPrint();</script>
  <script src="{{projectAssets}}/js/selection.js"></script>
  <script src="{{projectAssets}}/js/collapse.js"></script>
  <script src="{{projectAssets}}/js/scroll.js"></script>
  <script src="{{projectAssets}}/js/xhr.js"></script>
</html>
